<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Invoice Information </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Store:</strong> {{invoice.store}}</p>
    <p><strong>Type:</strong> {{invoice.type}}</p>
    <table>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let invoiceDetail of invoiceDetails">
        <td>{{invoiceDetail.id}}</td>
        <td>{{invoiceDetail.item}}</td>
        <td>{{invoiceDetail.unit}}</td>
        <td>{{invoiceDetail.quantity}}</td>
        <td>{{invoiceDetail.price}}</td>
        <td>{{invoiceDetail.total}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th>Subtotal</th>
        <td>{{invoice.subtotal}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th>Taxes</th>
        <td>{{invoice.taxes}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th>Discounts</th>
        <td>{{invoice.discount}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th>Total</th>
        <th>{{invoice.total}}</th>
      </tr>
    </table>
    <br>
    <p><strong>User:</strong> {{invoice.external_user}}</p>
    <p><strong>Date:</strong> {{invoice.created_at}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="print()">Print</button>
    <button type="button" ngbAutofocus class="btn btn-success" (click)="save()">Export PDF</button>
  </div>