<div class="modal-header">
    <h4 class="modal-title" id="modal-title" i18n="@@invoice.message.information">Invoice Information</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
      (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong i18n="@@button.company">Company</strong>: {{invoice.store}}</p>
    <p><strong i18n="@@button.type">Type</strong>: {{invoice.type}}</p>
    <table>
      <tr>
        <th>ID</th>
        <th i18n="@@button.description">Description</th>
        <th i18n="@@unit.page.title">Unit</th>
        <th i18n="@@invoice.field.quantity">Quantity</th>
        <th i18n="@@invoice.field.price">Price</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let invoiceDetail of invoiceDetails">
        <td>{{invoiceDetail.id}}</td>
        <td>{{invoiceDetail.item}}</td>
        <td>{{invoiceDetail.unit}}</td>
        <td>{{formUtils.customToFixedIntegerDecimal(invoiceDetail.quantity)}}</td>
        <td>{{invoiceDetail.price}}</td>
        <td>{{invoiceDetail.total}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th>Subtotal</th>
        <td>{{invoice.subtotal}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th  i18n="@@invoice.field.taxes">Taxes</th>
        <td>{{invoice.taxes}}</td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th i18n="@@invoice.field.discount">Discounts</th>
        <td>{{invoice.discount}} <label *ngIf="invoice.discount_percent">%</label></td>
      </tr>
      <tr>
        <td style="border:none" colspan="4"></td>
        <th>Total</th>
        <th>{{invoice.total}}</th>
      </tr>
    </table>
    <br>
    <p><strong i18n="@@button.user">User</strong>: {{invoice.external_user?.length > 0 ? invoice.external_user : '-'}}</p>
    <p><strong i18n="@@button.createAt">Create at</strong>: {{invoice.created_at}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="print()" i18n="@@button.print">Print</button>
    <button type="button" ngbAutofocus class="btn btn-success" (click)="exportPDF()" i18n="@@button.exportPDF">Export PDF</button>
  </div>
  <sb-messages></sb-messages>