<div class="row">
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Today's sales
            </div>
            <div class="card-body">
                <sb-charts-area [graphicData]="graphicDataForSaleInvoiceMoney" labelY="Money"></sb-charts-area>
            </div>
        </sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Month's sales
            </div>
            <div class="card-body">
                <sb-charts-bar [graphicData]="graphicDataForSaleInvoiceByMonth" labelY="Money"></sb-charts-bar>
            </div>
        </sb-card>
    </div>
</div>