<div class="row">
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header" >
                <fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>
                <ng-container i18n="@@dashboard.chart.weekSales">Week's sales</ng-container>
            </div>
            <div class="card-body">
                <sb-charts-area [graphicData]="graphicDataForSaleInvoiceMoney" i18n-labelY="@@dashboard.chart.labelY" labelY="Money"></sb-charts-area>
            </div>
        </sb-card>
    </div>
    <div class="col-xl-6">
        <sb-card>
            <div class="card-header">
                <fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>
                <ng-container i18n="@@dashboard.chart.monthSales">Month's sales</ng-container>
            </div>
            <div class="card-body">
                <sb-charts-bar [graphicData]="graphicDataForSaleInvoiceByMonth" labelY="Money"></sb-charts-bar>
            </div>
        </sb-card>
    </div>
</div>
