<div sbLanguage hidden >
    <!-- INVOICES -->
    <span id="invoice.message.selectPaymentType" i18n="@@invoice.message.selectPaymentType">
        Select payment type.
    </span>
    <span id="invoice.message.invoicePayer" i18n="@@invoice.message.invoicePayer">
        Select who is going to pay this invoice.
    </span>

    <!-- PAYMENTS -->
    <span id="payment.message.moneyLess" i18n="@@payment.message.moneyLess">
        The money to pay can not be less than the amount to pay.
    </span>

    <span id="payment.message.noRemain" i18n="@@payment.message.noRemain">
        There is no remain to add more payments.
    </span>

    <span id="payment.message.quantityEmpty" i18n="@@payment.message.quantityEmpty">
        The installments quantity should be one or more.
    </span>

    <span id="payment.message.moneyInRange" i18n="@@payment.message.moneyInRange">
        The installments money should be in total range.
    </span>

    <span id="payment.message.stillRemain" i18n="@@payment.message.stillRemain">
        There is still a remain, please generate all the payments.
    </span>

    <!-- CHANGE DATe MODAL -->
    <span id="changeDateModal.message.pastDate" i18n="@@changeDateModal.message.pastDate">
        The selected date is in the past.
    </span>

</div>
