<div sbLanguage hidden >
    <!-- INVOICES -->
    <span id="invoice.message.selectPaymentType" i18n="@@invoice.message.selectPaymentType">
        Select payment type.
    </span>
    <span id="invoice.message.invoicePayer" i18n="@@invoice.message.invoicePayer">
        Select who is going to pay this invoice.
    </span>

    <!-- PAYMENTS -->
    <span id="payment.message.moneyLess" i18n="@@payment.message.moneyLess">
        The money to pay can not be less than the amount to pay.
    </span>
</div>
