<div class="modal-header">
  <h4 class="modal-title" id="modal-title" i18n="@@invoice.message.additionalInformation">Additional Information</h4>
  <!-- <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
    (click)="activeModal.close(modalResponse)">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="total" i18n="@@invoice.aditional.totalPayment">Total Payment</label>
      <div class="input-group">
        <input id="total" class="form-control" name="total" [(ngModel)]="invoice.total" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="client" i18n="@@invoice.aditional.paymentType">Payment type</label>
      <div class="input-group">
      <select class="form-control" placeholder="Payment type" name="payment_type_id"  [(ngModel)]="invoice.payment_type_id" >
        <option *ngFor="let payment_type of paymentTypes" [value]="payment_type.id">
            {{payment_type.name}}
        </option>
      </select>
    </div>
    </div>
      <div class="form-group">
        <label for="client" i18n="@@invoice.field.client">Client</label>
        <div class="input-group">
          <input class="form-control" type="text" name="searchClient" [(ngModel)]="externalPerson"
          i18n-placeholder="@@invoice.aditional.searchClient"  placeholder="Search Client" [ngbTypeahead]="search" [inputFormatter]="formatter"
          [resultFormatter]="formatter"/>
        </div>
    </div>
    <div class="form-group">
      <label for="serie">Serie</label>
      <div class="input-group">
        <input id="serie" class="form-control" name="serie" [(ngModel)]="invoice.serie" readonly>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" *ngIf="!authService.getCompanySettingHasCashier()"   ngbAutofocus class="btn btn-primary" i18n="@@button.next" (click)="next()">Next</button>
  <button type="button" *ngIf="authService.getCompanySettingHasCashier()" ngbAutofocus class="btn btn-primary" i18n="@@button.save" (click)="next()">Save</button>
</div>
<sb-messages></sb-messages>
