<div class="modal-header">
    <h4 class="modal-title" id="modal-title">ADD Aditional information: </h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
          <label for="serie">Invoice <span style="font-weight:bold">{{invoice_id}} </span> was created succesfully</label>
        </div>
        <div class="form-group">
          <label for="serie">Serie</label>
          <div class="input-group">
            <input id="serie" class="form-control" name="serie" [(ngModel)]="invoice.serie">
          </div>
        </div>
        <div class="form-group">
          <label for="client">Client</label>
          <div class="input-group">
            <input id="client" class="form-control" name="client" [(ngModel)]="invoice.client">
          </div>
        </div>
        
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="save()">OK</button>
  </div>
