<div class="modal-header">
  <h4 class="modal-title" id="modal-title" i18n="@@price.historical" >Historic pricing</h4>
  <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
    (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <p><strong i18n="@@button.company">Item</strong>: {{invoice.store}}</p> -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" i18n="@@button.purchase">Purchase</th>
          <th scope="col" i18n="@@button.date">Date</th>
          <th scope="col" i18n="@@button.sell">Sell</th>
          <th scope="col" i18n="@@button.date">Date</th>
        <tr>
      </thead>
      <tbody>
        <tr *ngFor="let index of [0,1,2,3,4,5,6,7,8,9]">
            <td *ngIf="index < purchasingPrices.length || index < sellingPrices.length"> <strong>{{ purchasingPrices[index]?.price }} </strong></td>
            <td *ngIf="index < purchasingPrices.length || index < sellingPrices.length"> {{ purchasingPrices[index]?.created_at }}</td>
            <td *ngIf="index < purchasingPrices.length || index < sellingPrices.length"> <strong>{{ sellingPrices[index]?.price }} </strong></td>
            <td *ngIf="index < purchasingPrices.length || index < sellingPrices.length"> {{ sellingPrices[index]?.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer">
  <button type="button" ngbAutofocus class="btn btn-primary" i18n="@@button.close" (click)="activeModal.close()">Close</button>
</div>
<!-- <sb-messages></sb-messages> -->