<sb-layout-auth>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg mt-3">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4" i18n="@@changePassword.title">Change Password </h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="changePasswordForm">
                            <div class="form-group">
                                <label class="small mb-1" for="actualPassword" i18n="@@user.field.actualPassword">Actual Password</label>
                                <input class="form-control py-4" formControlName="actualPassword" type="password"
                                    i18n-placeholder="@@user.field.actualPassword.placeholder" placeholder="Enter actual password"
                                    maxlength="45" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="newPassword" i18n="@@user.field.newPassword">New Password</label>
                                <input class="form-control py-4" formControlName="newPassword" type="password"
                                    i18n-placeholder="@@user.field.newPassword.placeholder" placeholder="Enter new password"
                                    maxlength="45" />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="newPassword" i18n="@@user.field.newPassword">New Password</label>
                                <input class="form-control py-4" formControlName="reNewPassword" type="password"
                                    i18n-placeholder="@@user.field.newPassword.placeholder" placeholder="Enter new password"
                                    maxlength="45" />
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="btn btn-secondary" i18n="@@button.cancel" routerLink="/">Cancel</a>
                                <a class="btn btn-primary" type="submit" (click)="change()" i18n="@@button.change">Change</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>

<sb-form-validations></sb-form-validations>
<sb-messages></sb-messages>