<div sbLanguage hidden >
    <span id="invoice.field.searchItem" i18n="@@invoice.field.searchItem">Search Item</span>
    <span id="invoice.field.price" i18n="@@invoice.field.price">Price</span>
    <span id="invoice.field.quantity" i18n="@@invoice.field.quantity">Quantity</span>
    <span id="invoice.field.unitPrice" i18n="@@invoice.field.unitPrice">Unit Price</span>
    <span id="invoice.field.lineTotal" i18n="@@invoice.field.lineTotal">Line Total</span>
    <span id="invoice.field.taxes" i18n="@@invoice.field.taxes">Taxes</span>
    <span id="invoice.field.discount" i18n="@@invoice.field.discount">Discount</span>
    <span id="invoice.field.discount" i18n="@@invoice.field.discount">Discount</span>
    <span id="invoice.field.serie" i18n="@@invoice.field.serie">Serie</span>
    <span id="invoice.field.client" i18n="@@invoice.field.client">Client</span>


    <span id="invoice.sell.title" i18n="@@invoice.sell.title">Sell invoice</span>

    <span id="invoice.message.nostock" i18n="@@invoice.message.nostock">There is not stock for this quantity</span>
    <span id="invoice.message.negativeDiscount" i18n="@@invoice.message.negativeDiscount">The discount is a negative number</span>
    <span id="invoice.message.quantityInteger" i18n="@@invoice.message.quantityInteger">The quantity should be an integer</span>
    
    <span id="invoice.message.additionalInformation" i18n="@@invoice.message.additionalInformation">Additional Information</span> 
</div>