<div sbLanguage hidden >
    <span id="user.field.login" i18n="@@user.field.login">Login</span>
    <span id="user.field.identification" i18n="@@user.field.identification">Identification</span>
    <span id="user.field.name" i18n="@@user.field.name">Name</span>
    <span id="user.field.lastname" i18n="@@user.field.lastname">Lastname</span>
    <span id="user.field.phone" i18n="@@user.field.phone">Phone</span>
    <span id="user.field.address" i18n="@@user.field.address">Address</span>
    <span id="user.field.roles" i18n="@@user.field.roles">Roles</span>
    <span id="user.field.options" i18n="@@user.field.options">Options</span>
    <span id="user.field.password" i18n="@@user.field.password">Password</span>
    <span id="user.field.repassword" i18n="@@user.field.repassword">Confirm Password</span>
    <span id="user.field.email" i18n="@@user.field.email">Email</span>

    <span id="user.page.title" i18n="@@user.page.title">User</span>
</div>

