<sb-layout-auth>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Create Account</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm">
                            <div class="form-group">
                                <label class="small mb-1">Country</label>
                                <select class="form-control" formControlName="country_code" placeholder="Country">
                                    <option *ngFor="let country of countries" [value]="country.country_code">
                                        {{country.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="small mb-1">Name</label>
                                    <input class="form-control py-4" formControlName="name" type="text" placeholder="Enter name" /></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="small mb-1">Identification</label>
                                    <input class="form-control py-4" formControlName="identification" type="text" placeholder="Enter identification" /></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1">Email</label>
                                <input class="form-control py-4" formControlName="email" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">Password</label>
                                        <input class="form-control py-4" formControlName="password" type="password" placeholder="Enter password" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1">Confirm Password</label>
                                        <input class="form-control py-4"formControlName="c_password" type="password" placeholder="Confirm password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <a class="btn btn-primary btn-block" (click)="register()">Create Account</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a routerLink="/">Have an account? Go to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>
