<sb-layout-dashboard>
  <sb-dashboard-head [hideBreadcrumbs]="true"></sb-dashboard-head>
  <sb-card>
    <div class="card-header">
      <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
      <ng-container i18n="@@product.page.title">Product</ng-container>
    </div>
    <div class="card-body">

      <form #form="ngForm">

        <div class="form-row">

          <div class="form-check col-auto mb-2 ml-4 ml-md-4">
            <input class="form-check-input" type="checkbox" id="isContainer" name="isContainer"
              [(ngModel)]="product.isContainer" (ngModelChange)="onContainer()" [disabled]="product.id > 0">
            <label class="form-check-label font-weight-bold mx-2" for="isContainer">Container</label>
          </div>

          <div class="form-group col-auto">
            <button class="btn btn-info btn-md" (click)="openPricesModal(product.id)" [disabled]="product.id == 0"
              i18n-title="@@price.historical" title="Historic pricing">$</button>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-12 col-md-4" *ngIf="product.isContainer && product.id == 0">
            <label class="control-label font-weight-bold" for="itemRoot" i18n="@@product.page.title">Product</label>
            <input type="text" class="form-control" id="itemRoot" name="itemRoot" [(ngModel)]="itemRoot"
              i18n-placeholder="@@product.page.title" placeholder="Product" [ngbTypeahead]="search"
              [inputFormatter]="formatter" [resultFormatter]="formatter" />
          </div>

          <div class="form-group col-12 col-md-4" *ngIf="!product.isContainer || product.id > 0">
            <label class="control-label font-weight-bold" for="name" i18n="@@button.name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name"
              i18n-placeholder="@@button.name" placeholder="Name" [readonly]="product.isContainer && product.id > 0" required>
          </div>

          <div class="form-group col-12 col-md-2" *ngIf="product.isContainer">
            <label class="control-label font-weight-bold" for="amount" i18n="@@item.field.amount">Amount</label>
            <input type="number" min="0" class="form-control" id="amount" name="amount" [(ngModel)]="itemRootAmount"
              placeholder="amount">
          </div>

          <div class="form-group col-12 col-md-2">
            <label class="control-label font-weight-bold" for="price" i18n="@@item.field.price">Price</label>
            <input type="number" step="0.01" min="0" class="form-control" id="price" name="price"
              [(ngModel)]="product.price" placeholder="Price">
          </div>

          <div class="form-group col-12 col-md-2">
            <label class="control-label font-weight-bold" for="unit_id" i18n="@@unit.page.title">Unit</label>
            <select class="form-control" placeholder="Unit" name="unit_id" id="unit_id" [(ngModel)]="product.unit_id">
              <option *ngFor="let unit of units" [value]="unit.id">
                {{unit.name}}
              </option>
            </select>
          </div>
          <div class="form-check col-auto mt-md-4 ml-4 ml-md-5">
            <input class="form-check-input" type="checkbox" id="stocked" name="stocked" [(ngModel)]="product.stocked">
            <label class="form-check-label font-weight-bold mx-2" for="stocked">
              Stocked
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12 mt-2">
            <label class="control-label font-weight-bold" for="description"
              i18n="@@button.description">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description"
              [(ngModel)]="product.description" i18n-placeholder="@@button.description"
              placeholder="Description"></textarea>
          </div>
        </div>

        <div class="form-row">
          <label class="control-label font-weight-bold" for="stocktypes" i18n="@@item.field.stockTypes">Stock
            types</label>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <div *ngFor="let stockType of stockTypes" class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" [name]="stockType.id" [value]="stockType.id"
                [(ngModel)]="stockType.checked">
              <label class="form-check-label" for="stocktypes">{{stockType.name}}</label>
            </div>
          </div>
        </div>

        <!-- Add image -->
        <div class="form-row">
          <div class="col-12 col-md-6 mt-1 mb-3">
            <button class="btn btn-info btn-md" i18n="@@button.addImage" (click)="openImageModal()">Add Image</button>
          </div>
        </div>

        <!-- Table for images -->
        <div class="form-row" *ngIf="product.images?.length > 0">

          <div class="table-responsive">
            <table class="table table-image">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">
                    <span i18n="@@button.description">Description</span>
                  </th>
                  <th scope="col">
                    <span i18n="@@button.image">Image</span>
                  </th>
                  <th scope="col">
                    <span i18n="@@button.options">Options</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let image of product.images">
                  <th scope="row" class="col-auto">{{ image.id }}</th>
                  <td>{{ image.name }}</td>
                  <td class="w-25 ">
                    <img name="image" src="{{authService.getURLImage() + image.name}}" class="img-fluid"
                      style="width:150px;height:100px;">
                  </td>
                  <td>
                    <div class="row ">
                      <div class="col-2 mb-1 ml-3">
                        <fa-icon [icon]='["far", "trash-alt"]' [styles]="{'stroke': 'red', 'color': 'red'}" size="lg"
                          (click)="modalDelete(image.id, image.name)"></fa-icon>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Buttons -->
        <br>
        <div class="form-row align-items-center">
          <div class="col-12 col-md-6 mb-3">
            <button class="btn btn-danger btn-md btn-block" routerLink="/items/products"
              i18n="@@button.cancel">Cancel</button>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-md btn-block" i18n="@@button.save"
              (click)="save()">Save</button>
          </div>
        </div>
      </form>

    </div>
  </sb-card>
</sb-layout-dashboard>
<sb-item-i18n></sb-item-i18n>