<div sbLanguage hidden >
    <span id="form.required" i18n="@@form.required">required</span>
    <span id="form.is" i18n="@@form.is">is</span>
    <span id="form.invalidPositiveNumber" i18n="@@form.invalidPositiveNumber">should be a positive number</span>
    <span id="form.minlength" i18n="@@form.minlength">should have at least the number of characters of:</span>
    <span id="form.email" i18n="@@form.email">should have the correct format</span>
    <span id="form.mustMatch" i18n="@@form.mustMatch">does not match</span>
    <span id="form.mask" i18n="@@form.mask">does not have the rigth format</span>
    <span id="form.invalidDecimalNumber" i18n="@@form.invalidDecimalNumber">does not have the rigth decimal format</span>
</div>