<sb-layout-dashboard>
  <sb-dashboard-head title="Add/Edit" [hideBreadcrumbs]="false"></sb-dashboard-head>
  <sb-card>
    <div class="card-body">This page is to add a new item or edit an existing one . 
        <a target="_blank" href="jclavotafur@gmail.com">Contact me clicking here.</a>
    </div>
</sb-card>

  <sb-card>
    <div class="card-header">
      <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
      Item
    </div>
    <div class="card-body">

      <form #form="ngForm" (ngSubmit)="save(form)" method="post">

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputItem">Item</label>
            <input type="text" class="form-control" id="inputItem" name="name" [(ngModel)]="item.name" placeholder="Item" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPrice">Price</label>
            <input type="number" step="0.01" min="0" class="form-control" id="inputPrice" name="price" [(ngModel)]="item.price" placeholder="Price">
          </div>
          <div class="form-group col-md-4">
            <label for="inputUnit">Unit</label>
            <select class="form-control" placeholder="Unit" name="unit" [(ngModel)]="item.unit">
              <option *ngFor="let unit of units" [value]="unit.code">
                  {{unit.description}}
              </option>
          </select>

          </div>
        </div>

        <div class="form-group">
          <label for="textareaDescription">Item Description</label>
          <textarea class="form-control" id="textareaDescription" rows="3" name="description" [(ngModel)]="item.description" placeholder="Item Description"></textarea>
        </div>

       <div class="form-row text-center">
          <div class="col">
            <button class="btn btn-danger btn-md btn-block" routerLink="/items">Cancel</button>
          </div>
          <div class="col">
            <button type="submit" [disabled]="!form.valid" class="btn btn-success btn-md btn-block">Save</button>
          </div>
        </div>

      </form>


    </div>
  </sb-card>
</sb-layout-dashboard>