<div sbLanguage hidden >
    <span id="button.cancel" i18n="@@button.cancel">Cancel</span>
    <span id="button.save" i18n="@@button.save">Save</span>
    <span id="button.search" i18n="@@button.search">Search</span>
    <span id="button.perPage" i18n="@@button.perPage">per page</span>
    <span id="button.delete" i18n="@@button.delete">Delete</span>
    <span id="button.yes" i18n="@@button.yes">Yes</span>
    <span id="button.options" i18n="@@button.options">Options</span>
    <span id="button.new" i18n="@@button.new">New</span>
    <span id="button.description" i18n="@@button.description">Description</span>
    <span id="button.add" i18n="@@button.add">Add</span>
    <span id="button.create" i18n="@@button.create">Create</span>
    <span id="button.print" i18n="@@button.print">Print</span>
</div>
