<div sbLanguage hidden >
    <span id="button.cancel" i18n="@@button.cancel">Cancel</span>
    <span id="button.save" i18n="@@button.save">Save</span>
    <span id="button.search" i18n="@@button.search">Search</span>
    <span id="button.perPage" i18n="@@button.perPage">per page</span>
    <span id="button.delete" i18n="@@button.delete">Delete</span>
    <span id="button.yes" i18n="@@button.yes">Yes</span>
    <span id="button.options" i18n="@@button.options">Options</span>
    <span id="button.new" i18n="@@button.new">New</span>
    <span id="button.description" i18n="@@button.description">Description</span>
    <span id="button.add" i18n="@@button.add">+</span>
    <span id="button.add.title" i18n="@@button.add.title">Add</span>
    <span id="button.create" i18n="@@button.create">Create</span>
    <span id="button.print" i18n="@@button.print">Print</span>
    <span id="button.from" i18n="@@button.from">From</span>
    <span id="button.to" i18n="@@button.to">To</span>
    <span id="button.type" i18n="@@button.type">Type</span>
    <span id="button.stage" i18n="@@button.stage">Stage</span>
    <span id="button.createAt" i18n="@@button.createAt">Create at</span>
    <span id="button.company" i18n="@@button.company">Company</span>
    <span id="button.user" i18n="@@button.user">User</span>
    <span id="button.exportPDF" i18n="@@button.exportPDF">Export PDF</span>
    <span id="button.by" i18n="@@button.by">By</span>
    <span id="button.changeLanguage" i18n="@@button.changeLanguage">Change language</span>
    <span id="button.change" i18n="@@button.change">Change</span>
    <span id="button.languages" i18n="@@button.languages">Languages</span>
    <span id="button.myAccount" i18n="@@button.myAccount">My Account</span>
    <span id="button.logout" i18n="@@button.logout">Logout</span>
    <span id="button.addImage" i18n="@@button.addImage">Add Image</span>
    <span id="button.image" i18n="@@button.image">Image</span>
    <span id="button.next" i18n="@@button.next">Next</span>
    <span id="button.pay" i18n="@@button.pay">Pay</span>
    <span id="button.generate" i18n="@@button.generate">Generate</span>
    <span id="button.clean" i18n="@@button.clean">Clean</span>
    <span id="button.finish" i18n="@@button.finish">Finish</span>
    <span id="button.back" i18n="@@button.back">Back</span>
    <span id="button.serie" i18n="@@button.serie">Serie</span>
    <span id="button.annul" i18n="@@button.annul">Annul</span>
    <span id="button.saveDraft" i18n="@@button.saveDraft">Save as draft</span>
    <span id="button.request" i18n="@@button.request">Request</span>
    <span id="button.date" i18n="@@button.date">Date</span>
    <span id="button.close" i18n="@@button.close">Close</span>
    <span id="button.sell" i18n="@@button.sell">Sell</span>
    <span id="button.purchase" i18n="@@button.purchase">Purchase</span>
    <span id="button.see" i18n="@@button.see">See</span>
    <span id="button.edit" i18n="@@button.edit">Edit</span>
    <span id="button.picture" i18n="@@button.picture">Picture</span>
    <span id="button.name" i18n="@@button.name">Name</span>
</div>
