<sb-layout-dashboard>
    <sb-dashboard-head title="" [hideBreadcrumbs]="true"></sb-dashboard-head>

    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
            <ng-container i18n="@@invoice.purchase.title" *ngIf="!invoiceUtils.isOrder">Purchase invoice</ng-container>
            <ng-container i18n="@@order.purchase.title" *ngIf="invoiceUtils.isOrder">Purchase order</ng-container>
        </div>
        <div class="card-body">
            <form [formGroup]="addItemForm">
                <div class="row">
                    <div class="col-12 col-md-8 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">Item</div>
                            </div>
                            <input class="form-control" type="text" name="searchItem" formControlName="searchItem"
                            i18n-placeholder="@@invoice.field.searchItem" placeholder="Search Item" [ngbTypeahead]="search" [inputFormatter]="formatter"
                                [resultFormatter]="formatter" (blur)="assignSearchItemToForm()"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@unit.page.title">Unit</div>
                            </div>
                            <input class="form-control" type="text" name="unit" formControlName="unit"
                                readonly />
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@invoice.field.price">Price</div>
                            </div>
                            <input class="form-control" type="text" name="price" formControlName="price"
                            maxlength="8"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@invoice.field.quantity">Quantity</div>
                            </div>
                            <input class="form-control" type="text" name="quantity" formControlName="quantity" maxlength="5"/>
                        </div>
                    </div>

                    <div class="col-12 col-md-2 col-xl-1">
                        <button type="button" class="btn btn-primary btn-block" type="submit" (click)="addItem()" 
                        i18n="@@button.add" [disabled]="invoiceUtils.disabledButtonAdd">ADD</button>
                    </div>

                </div>

            </form>
        </div>
    </sb-card>

    <sb-card>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><span>ID</span></th>
                            <th scope="col"><span i18n="@@button.description">Description</span></th>
                            <th scope="col"><span i18n="@@unit.page.title">Unit</span></th>
                            <th scope="col"><span i18n="@@invoice.field.quantity">Quantity</span></th>
                            <th scope="col"><span i18n="@@invoice.field.unitPrice">Unit Price</span></th>
                            <th scope="col"><span i18n="@@invoice.field.lineTotal">Line Total</span></th>
                            <th scope="col"><span i18n="@@button.options">Options</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoiceDetail of invoiceUtils.invoiceDetails; index as index">
                            <th scope="row">{{ index + 1 }}</th>
                            <th scope="row">{{ invoiceDetail.item_id }}</th>
                            <td scope="row">{{ invoiceDetail.item }}</td>
                            <td scope="row">{{ invoiceDetail.unit }}</td>
                            <td scope="row">{{ invoiceDetail.quantity }}</td>
                            <td scope="row">{{ invoiceDetail.price }}</td>
                            <td scope="row">{{ invoiceDetail.total }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-3">
                                        <fa-icon [icon]='["far", "trash-alt"]'
                                            [styles]="{'stroke': 'red', 'color': 'red'}" size="md"
                                            (click)="invoiceUtils.modalDelete(invoiceDetail.id, invoiceDetail.item)">
                                        </fa-icon>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </sb-card>

    <sb-card *ngIf="invoiceUtils.invoiceDetails.length > 0">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">SUBTOTAL</div>
                            </div>
                            <input class="form-control" type="text" name="subtotal" 
                            value="{{formUtils.customToFixed(invoiceUtils.invoice.subtotal)}}" readonly />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">
                                    <ng-container i18n="@@invoice.field.taxes">Taxes</ng-container> 
                                </div>
                            </div>
                            <input class="form-control" type="text" name="taxes" 
                                   value="{{formUtils.customToFixed(invoiceUtils.invoice.taxes)}}" readonly />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@invoice.field.discount">Discount</div>
                            </div>
                            <input class="form-control" type="text" name="discount" 
                            [(ngModel)]="invoiceUtils.invoice.discount" min="0.0" (blur)="invoiceUtils.calculateDiscount()" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <input class="form-check-input" type="checkbox" id="discount_percent" name="discount_percent" 
                               [(ngModel)]="invoiceUtils.invoice.discount_percent" (change)="invoiceUtils.calculateDiscount()">
                        <label class="form-check-label font-weight-bold mx-2" for="discount_percent">%</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">TOTAL</div>
                            </div>
                            <input class="form-control" type="text" name="total" 
                            value="{{formUtils.customToFixed(invoiceUtils.invoice.total)}}" readonly/>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="invoiceUtils.order.stage_id == invoiceUtils.ORDER_STAGE_NEW && invoiceUtils.isOrder">
                    <div class="col-md-6 mb-md-3">
                        <button type="button" class="btn btn-info btn-block" 
                        routerLink="/orders/{{INVOICE_TYPE_PURCHASE}}" i18n="@@button.saveDraft">Save as draft</button>
                    </div>
                    <div class="col-md-6 mb-md-3">
                        <button type="button" class="btn btn-success btn-block" 
                        (click)="invoiceUtils.setOrderRequested(INVOICE_TYPE_PURCHASE)" i18n="@@button.request">Request</button>
                    </div>
                    
                </div>

                <div class="row" *ngIf="(invoiceUtils.order.stage_id != invoiceUtils.ORDER_STAGE_NEW && invoiceUtils.invoice.stage_id == 3) || !invoiceUtils.isOrder">
                    <button type="button" class="btn btn-success btn-block" (click)="invoiceUtils.saveInvoice()" 
                    i18n="@@button.create" [disabled]="invoiceUtils.invoice.total <= 0">Create Invoice</button>
                </div>
                
            </form>
        </div>
    </sb-card>

</sb-layout-dashboard>
<sb-invoice-i18n></sb-invoice-i18n>
<sb-form-validations></sb-form-validations>
<sb-buttons></sb-buttons>