<sb-layout-dashboard>
    <sb-dashboard-head title="" [hideBreadcrumbs]="true"></sb-dashboard-head>

    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
            <ng-container i18n="@@invoice.purchase.title">Purchase invoice</ng-container>
        </div>
        <div class="card-body">
            <form [formGroup]="addItemForm">
                <div class="row">
                    <div class="col-12 col-md-8 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">Item</div>
                            </div>
                            <input class="form-control" type="text" name="searchItem" formControlName="searchItem"
                            i18n-placeholder="@@invoice.field.searchItem" placeholder="Search Item" [ngbTypeahead]="search" [inputFormatter]="formatter"
                                [resultFormatter]="formatter" (blur)="assignSearchItemToForm()"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-xl-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@unit.page.title">Unit</div>
                            </div>
                            <input class="form-control" type="text" name="unit" formControlName="unit"
                                readonly />
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@invoice.field.price">Price</div>
                            </div>
                            <input class="form-control" type="text" name="price" formControlName="price"
                            maxlength="8"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@invoice.field.quantity">Quantity</div>
                            </div>
                            <input class="form-control" type="text" name="quantity" formControlName="quantity" maxlength="5"/>
                        </div>
                    </div>

                    <div class="col-12 col-md-2 col-xl-1">
                        <button type="button" class="btn btn-primary btn-block" type="submit" (click)="addItem()" i18n="@@button.add">ADD</button>
                    </div>

                </div>

            </form>
        </div>
    </sb-card>

    <sb-card>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><span>ID</span></th>
                            <th scope="col"><span i18n="@@button.description">Description</span></th>
                            <th scope="col"><span i18n="@@unit.page.title">Unit</span></th>
                            <th scope="col"><span i18n="@@invoice.field.quantity">Quantity</span></th>
                            <th scope="col"><span i18n="@@invoice.field.unitPrice">Unit Price</span></th>
                            <th scope="col"><span i18n="@@invoice.field.lineTotal">Line Total</span></th>
                            <th scope="col"><span i18n="@@button.options">Options</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoiceDetail of invoiceDetails; index as index">
                            <th scope="row">{{ index + 1 }}</th>
                            <th scope="row">{{ invoiceDetail.item_id }}</th>
                            <td scope="row">{{ invoiceDetail.item }}</td>
                            <td scope="row">{{ invoiceDetail.unit }}</td>
                            <td scope="row">{{ invoiceDetail.quantity?.toString().includes('.') ? formUtils.customToFixed(invoiceDetail.quantity) : invoiceDetail.quantity }}</td>
                            <td scope="row">{{ formUtils.customToFixed(invoiceDetail.price)}}</td>
                            <td scope="row">{{ formUtils.customToFixed(invoiceDetail.total)}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-3">
                                        <fa-icon [icon]='["far", "trash-alt"]'
                                            [styles]="{'stroke': 'red', 'color': 'red'}" size="md"
                                            (click)="delete(index)"></fa-icon>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </sb-card>

    <sb-card *ngIf="invoiceDetails.length > 0">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">SUBTOTAL</div>
                            </div>
                            <input class="form-control" type="text" name="subtotal" 
                            value="{{formUtils.customToFixed(purchaseInvoice.subtotal)}}" readonly />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">
                                    <ng-container i18n="@@invoice.field.taxes">Taxes</ng-container> ({{authService.getStoreTax()}})%
                                </div>
                            </div>
                            <input class="form-control" type="text" name="taxes" value="{{formUtils.customToFixed(purchaseInvoice.taxes)}}"
                                readonly />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@invoice.field.discount">Discount</div>
                            </div>
                            <input class="form-control" type="text" name="discount" [(ngModel)]="purchaseInvoice.discount"
                                min="0.0" (blur)="calculateDiscount()" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group mb-2 mb-md-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold">TOTAL</div>
                            </div>
                            <input class="form-control" type="text" name="total" value="{{formUtils.customToFixed(purchaseInvoice.total)}}"
                                readonly />
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-success btn-block" (click)="save()" i18n="@@button.create">Create</button>
            </form>
        </div>
    </sb-card>

</sb-layout-dashboard>
<sb-invoice-i18n></sb-invoice-i18n>
<sb-form-validations></sb-form-validations>