<sb-layout-dashboard>
    <sb-dashboard-head title="" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">This page is using Chart.js to show these amazing. 
            <a target="_blank" href="jclavotafur@gmail.com">Contact me clicking here.</a>
        </div>
    </sb-card>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
            Chart Invoices
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend ">
                            <div class="input-group-text font-weight-bold">From:</div>
                        </div>
                        <input class="form-control ml-2" placeholder="dd-mm-yyyy" name="fromDate"
                            [(ngModel)]="searchInvoiceOption.fromDate" ngbDatepicker #dFrom="ngbDatepicker" (click)="dFrom.toggle()">
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text font-weight-bold">To:</div>
                        </div>
                        <input class="form-control ml-2" placeholder="dd-mm-yyyy" name="toDate" [(ngModel)]="searchInvoiceOption.toDate"
                            ngbDatepicker #dTo="ngbDatepicker" (click)="dTo.toggle()">
                    </div>
                </div>
                <div class="col-md-4 col-xl-2">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text font-weight-bold">Type:</div>
                        </div>
                        <select class="custom-select" [(ngModel)]="searchInvoiceOption.type_id" placeholder="Type">
                            <option value="1" selected>Sell Invoice</option>
                            <option value="2">Purcharse Invoice</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xl-2">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text font-weight-bold">By:</div>
                        </div>
                        <select class="custom-select" [(ngModel)]="searchInvoiceOption.searchBy" placeholder="Type">
                            <option value="H" selected>Hour</option>
                            <option value="D">Day</option>
                            <option value="M">Month</option>
                            <option value="Y">Year</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-xl-2">
                    <button type="button" class="btn btn-primary btn-block" (click)="search()">Search</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-body">
                <sb-charts-area [graphicData]="graphicData" labelY="Money">

                </sb-charts-area>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>

