<div class="modal-header">
    <h4 class="modal-title" id="modal-title" i18n="@@button.changeLanguage">Choose Language</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
        (click)="activeModal.close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label class="small mb-1" i18n="@@button.languages">Language</label>
            <select class="form-control" [(ngModel)]="locale" placeholder="Language" name="locale" (change)="onSelectLanguage()">
                <option *ngFor="let language of languages" [value]="language.locale">
                    {{language.name}}
                </option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close(false)" i18n="@@button.cancel">Cancel</button>
    <a type="button" ngbAutofocus class="btn btn-danger" href="/{{customURL}}" (click)="change()" i18n="@@button.change">Change</a>
</div>