<sb-layout-dashboard>
    <sb-dashboard-head [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-body">This page is using pagination to show all the services about your store, also you can edit or delete them. 
            <a target="_blank" href="jclavotafur@gmail.com">Contact me clicking here.</a>
        </div>
    </sb-card>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
            Items List
        </div>
        <div class="card-body">
            <sb-ng-bootstrap-table-services>

            </sb-ng-bootstrap-table-services>
        </div>
    </sb-card>
</sb-layout-dashboard>





