<sb-layout-dashboard>
    <sb-dashboard-head [hideBreadcrumbs]="true"></sb-dashboard-head>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "table"]'></fa-icon>
            <ng-container i18n="@@payment.field.payment">Payment</ng-container>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@installment.field.totalPayment">Total Payment</div>
                            </div>
                            <input class="form-control" type="text" name="total" 
                            [(ngModel)]="installment.total" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@installment.field.remain">Remain</div>
                            </div>
                            <input class="form-control" type="text" name="remain" [(ngModel)]="installment.remain"
                                readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@installment.field.installment">Installment</div>
                            </div>
                            <input class="form-control" type="text" name="quantity" [(ngModel)]="installment.quantity"
                                (blur)="validateInstallment()">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold" i18n="@@installment.field.money">Money</div>
                            </div>
                            <input class="form-control" type="text" name="money" [(ngModel)]="installment.money">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-2 mb-2">
                        <button type="button" class="btn btn-success btn-block"
                            (click)="generatePayments()" i18n="@@button.generate">Generate</button>
                    </div>
                    <div class="col-12 col-md-6 offset-xl-10 col-xl-2">
                        <button type="button" class="btn btn-primary btn-block" (click)="reset()" i18n="@@button.clean">Clean</button>
                    </div>
                </div>
            </form>
        </div>
    </sb-card>

    <sb-card>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"><span>ID</span></th>
                            <th scope="col"><span i18n="@@payment.field.amount">Amount</span></th>
                            <th scope="col"><span i18n="@@payment.field.money">Money</span></th>
                            <th scope="col"><span i18n="@@payment.field.transactionCode">Transaction Code</span></th>
                            <th scope="col"><span i18n="@@payment.field.paymentDate">Payment Date</span></th>
                            <th scope="col"><span i18n="@@payment.field.realPaymentDate">Real Payment Date</span></th>
                            <th scope="col"><span i18n="@@payment.field.paymentMethod">Payment Method</span></th>
                            <th scope="col"><span i18n="@@payment.field.paymentStage">Payment Stage</span></th>
                            <th scope="col"><span i18n="@@button.options">Options</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payment of payments; index as index">
                            <th scope="row">{{ payment.id }}</th>
                            <td scope="row">{{ payment.amount }}</td>
                            <td scope="row">{{ payment.money }}</td>
                            <td scope="row">{{ payment.transaction_code }}</td>
                            <td scope="row" (click)="dFrom.toggle()">{{ payment.payment_date }}</td>
                            <input cplaceholder="dd-mm-yyyy" name="real_payment_date" [(ngModel)]="payment.payment_date"
                                ngbDatepicker #dFrom="ngbDatepicker" hidden>
                            <td scope="row">{{ payment.real_payment_date }}</td>
                            <td scope="row">{{ payment.method }}</td>
                            <td scope="row">{{ payment.stage }}</td>
                            <td>
                                <div class="row" *ngIf="payment.stage_id != PAYMENT_STAGE_PAID && payment.id > 0 && invoice.stage_id != INVOICE_STAGE_ANNULLED">
                                    <div class="col-3">
                                        <fa-icon [icon]='["far", "calendar"]' 
                                            [styles]="{'stroke': 'black', 'color': 'black'}"
                                            size="lg" (click)="modalUpdateDate(payment.id, payment.payment_date)">
                                        </fa-icon>
                                    </div>
                                    
                                    <div class="col-3">
                                        <fa-icon [icon]='["far", "money-bill-alt"]'
                                            [styles]="{'stroke': 'red', 'color': 'green'}" size="md"
                                            (click)="openModalMadePayment(payment.id)"></fa-icon>
                                    </div>
                                    <div class="col-3">
                                        <fa-icon [icon]='["far", "trash-alt"]'
                                            [styles]="{'stroke': 'red', 'color': 'red'}" size="md"
                                            (click)="modalDelete(index, payment.id, payment.id)"></fa-icon>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </sb-card>
    <sb-card *ngIf="payments.length > 0">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6 mb-2">
                    <button type="button" class="btn btn-primary btn-block" (click)="save()" i18n="@@button.save">Save</button>
                </div>
                <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-success btn-block" (click)="finish()" i18n="@@button.finish">Finish</button>
                </div>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>
<sb-buttons></sb-buttons>
<sb-messages></sb-messages>