<a class="nav-link" [routerLink]="sideNavItem.url" (click)="sideNavItem.open = !sideNavItem.open"
    [ngClass]="{active: sideNavItem.open, collapsed: !sideNavItem.open}">
    <div class="sb-nav-link-icon" *ngIf="sideNavItem.icon">
        <fa-icon [icon]='["fas", sideNavItem.icon]'></fa-icon>
    </div>
    {{sideNavItem.name}}
    <div *ngIf="sideNavItem.children.length > 0" class="sb-sidenav-collapse-arrow">
        <fa-icon class="ml-auto" [icon]="['fas', 'angle-down']"></fa-icon>
    </div>
</a>
<nav class="sb-sidenav-menu-nested nav" *ngIf="sideNavItem.open">
    <sb-side-nav-item class="submenu" *ngFor="let submenuItem of sideNavItem.children" [sideNavItem]="submenuItem">
    </sb-side-nav-item>
</nav>