<div class="row">
    <div class="col-xl-3 col-md-6">
                <!-- <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">{{dailySale.value}}</div>
        
        </sb-card-view-details> -->
        <sb-card-view-value  background="bg-primary" title="My today's sales" [data]="dailySale">
        </sb-card-view-value>
        <!-- <p>{{dailySale.value}}</p> -->
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value  background="bg-success" title="Popular Product" [data]="popularItem">
        </sb-card-view-value>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value background="bg-danger" title="My today's purchases" [data]="dailyPurchase">
        </sb-card-view-value>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value  background="bg-dark" title="Popular Production" [data]="popularProduction">
        </sb-card-view-value>
    </div>
</div>