<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value  background="bg-primary" i18n-title="@@dashboard.card.todaySales" title="My today's sales" [data]="dailySale">
        </sb-card-view-value>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value  background="bg-success" i18n-title="@@dashboard.card.popularProduct" title="Popular Item" [data]="popularItem">
        </sb-card-view-value>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value background="bg-danger" i18n-title="@@dashboard.card.todayPurchases" title="My today's purchases" [data]="dailyPurchase">
        </sb-card-view-value>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-value  background="bg-dark" i18n-title="@@dashboard.card.popularProduction" title="Popular Production" [data]="popularProduction">
        </sb-card-view-value>
    </div>
</div>